# Ignore everything by default
*

# Keep these directories and contents
!code/
!code/**
!code/R/
!code/R/**
!results/
!data/
community_coalescence.ipynb

# Ignore caches and temp folders
code/__pycache__/
code/.ipynb_checkpoints/
__pycache__/
.ipynb_checkpoints/
.vscode/
*.pyc
*.log
*.tmp
.DS_Store

# Ignore Jupyter checkpoints anywhere
**/.ipynb_checkpoints/

