
!code/
!code/**
!data/
!results/
!results/**

micrm/
micrm/**

sanbox/
sanbox/**

__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.vscode/
.virtual_documents/

*.pyc
*.log
*.tmp
*.pdf

.DS_Store